.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.625rem, 0.451rem + 0.732vw, 1rem);
  font-size: var(--fs-600);
  padding: var(--space-400);
}

.title {
  color: var(--clr-turquoise);
  font-size: clamp(2rem, 1.591rem + 2.045vw, 3.125rem);
  font-family: var(--ff-creepster);
  text-shadow: 2px 2px 0px rgba(255, 255, 0, 1),
    2px -2px 0px rgba(255, 255, 0, 1), -2px 2px 0px rgba(255, 255, 0, 1),
    -2px -2px 0px rgba(255, 255, 0, 1), 2px 0px 0px rgba(255, 255, 0, 1),
    0px 2px 0px rgba(255, 255, 0, 1), -2px 0px 0px rgba(255, 255, 0, 1),
    0px -2px 0px rgba(255, 255, 0, 1);
  letter-spacing: 0.1em;
}

@media (max-width: 54.0625rem /* 865px */) {
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header__icon {
  width: var(--space-1850);
  height: var(--space-1850);
}

@media (max-width: 32.5rem /* 520px */) {
  .header__icon {
    display: none;
  }
}
