.error {
  border: 3px solid var(--clr-screamin-green);
  padding: clamp(1rem, 0.727rem + 1.364vw, 1.75rem);
  border-radius: var(--radius-2);
  box-shadow: 0px 0px 5px 3px var(--clr-screamin-green);
  color: var(--clr-yellow);
  font-family: var(--ff-bungee);
  font-size: clamp(1.375rem, 1.102rem + 1.364vw, 2.125rem);
}

.error__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading {
  padding: clamp(1rem, 0.727rem + 1.364vw, 1.75rem);
}
.loading__spinner {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: var(--clr-light-sea-green);
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

.characters {
  border: 3px solid var(--clr-screamin-green);
  padding: clamp(1rem, 0.727rem + 1.364vw, 1.75rem);
  border-radius: var(--radius-2);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: clamp(1rem, 0.727rem + 1.364vw, 1.75rem);
  box-shadow: 0px 0px 5px 3px var(--clr-screamin-green);
}

.character__btn {
  background-color: transparent;
  border: 3px solid var(--clr-screamin-green);
  border-radius: var(--radius-2);
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  /* Make sure button occupies whole width of li */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

.character__btn:hover,
.character__btn:focus-visible {
  animation: shadow-pop 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  outline: 1px solid var(--clr-screamin-green);
}

@media (prefers-reduced-motion: reduce) {
  .character__btn:hover,
  .character__btn:focus-visible {
    animation: none;
    box-shadow: var(--clr-screamin-green-light) 0px 5px 15px 10px;
  }
}

@keyframes shadow-pop {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(8px) translateY(-8px);
    box-shadow: -8px 8px 8px var(--clr-screamin-green);
  }
}

/* Image takes up all the remaining height left after character name height */
.character__image-container {
  flex: 1;
}
.character__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character__name {
  padding: var(--space-100) 0;
  color: var(--clr-aqua);
  background-color: var(--clr-black);
  font-family: var(--ff-frijole);
  font-size: clamp(0.75rem, 0.659rem + 0.455vw, 1rem);
}
